* {
  font-family: 'Mandali', sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav-bar {
  background-color: #FACA3A;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
  list-style: none;
  text-align: center;/*add text align-center*/
}
.nav-bar ul li {
  display: inline-block;/*replace inline to inline-block*/
}
/* Links inside the navbar */
.nav-bar a {
  float: left;
  display: block;
  color: #2D2D2D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #F7F7F7;
  color: #2D2D2D;
}

section {
  padding: 20vh;
}

#home {
  background-color: #545454;
  color: #F7F7F7;
  height: 60vh;
}

.top-text {
  font-size: 2em;
  padding-left: 30%;
}


#logo {
  width: 20%;
  padding-left: 10vh;
}
#title {
  width: 60%;
  padding-left: 5vh;
}

.bottom-text {
  padding-left: 50%;
  padding-bottom: 10%;
}

.arrow {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.highlighted-text mark{
  background-color: #FACA3A;
  padding:0.1em 0.2em
}