* {
  font-family: 'Mandali', sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav-bar {
  background-color: #FACA3A;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
  list-style: none;
  text-align: center;
}
.nav-bar ul li {
  display: inline-block;
  overflow-wrap: break-word;
}
/* Links inside the navbar */
.nav-bar a {
  float: left;
  display: block;
  color: #2D2D2D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #F7F7F7;
  color: #2D2D2D;
}

@media only screen and (max-width: 576px) { /*scaling for phones*/
  .nav-bar {
    font-size: 5pt;
    padding: 5px;

  }
  .nav-bar ul li {
    display: inline-block;
  }
  .nav-bar ul {
    padding-left:0;
    padding-right: 10px;
  }
  .nav-bar a {
    float: left;
    display: block;
    color: #2D2D2D;
    text-align: center;
    text-decoration: none;
    padding: 3px;
  }
}

section {
  padding: 20vh;
}

#home {
  background-color: #545454;
  color: #F7F7F7;
  height: 60vh;
}

.top-text {
  font-size: 2em;
  padding-left: 35%;
}

#logo {
  width: 20%;
  padding-left: 10vh;
}
#title {
  width: 60%;
  padding-left: 5vh;
  padding-bottom: 5vh;
}

.bottom-text {
  padding-left: 40%;
  padding-bottom: 10%;
}

.arrow {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.highlighted-text mark{
  background-color: #FACA3A;
  padding:0.1em 0.2em;
}

@media only screen and (max-width: 800px) {
  .fluid-container {
    padding: 5vh;
  }

  #home {
    padding-top: 10vh;
    height: 70vh;
  }

  .top-text {
    font-size: 10pt;
    justify-content: center;
    padding-left: 30%;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #logo-title {
    padding: 5px;
  }

  #logo {
    width: 50%;

  }
  #title {
    width: 75%;
    padding-left: 6.5vh;
    padding-bottom: 2vh;
  }

  .bottom-text {
    font-size: 10pt;
    padding-left: 30%;
    padding-bottom: 10%;
    margin-top: 0;
  }

  .highlighted-text mark{
    font-size: 10pt;
    background-color: #FACA3A;
    padding:0.1em 0.2em;
  }

  .arrow {
    padding: 5%;
    padding-top: 15%;
  }
}